/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
.container{
  display: flex;
}
@media only screen and (max-width: 580px){
  .container{
    display: block;
  }
  img{
    width: 20%;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
